* {
    box-sizing: border-box;
}
 
header {
    background-color: rgb(71, 71, 71);
    height: 100px;

}
header img {
    margin-left: 100px;
    float: left;
    margin-top: 15px;
}


header nav ul { 
    position: relative;
}

header nav ul li  {
    display: inline-block;
    margin: 40px;
    padding-left: 25px;
    padding-right: 35px;

}

header nav ul li a {
    text-decoration: none;
    color: rgb(133, 133, 133);
    font-weight: bold;
    font-size: 23px;
    
}




    



#image960 {
    position: relative;
    left: 25%;
    margin: 40px;

}

.imagessub1 {
    clear: both;
    margin-left: 600px;   
}

.imagessub {
    margin: 12px;
}

.Featured {
    margin-left: 615px;
    float: left;
    margin-top: 0px;
    
}

.Featured-right {
    font-size: 25px;
    margin-left: 1140px;
    margin-top: 40px;
    
    margin-bottom: 7px;
    font-weight: bolder;
    color: rgb(61, 61, 61);
    

}

.paragraph {
    font-size: 22px;
    margin-right: 430px;
    background-color: rgb(105, 105, 105);
    width: 440px;
    height: 305px;
    overflow: auto;
    color: rgb(245, 216, 86);
    margin-left: 1140px;    
}
    


.call {
    font-size: 25px;
    border: solid black 1px;
    margin-left: 1140px;
    margin-right: 950px;
    padding: 10px;
    background-color: black;
    color: white;
    padding-left: 20px;
    margin-top: 9px;
    
}



.call:hover{
    background-color: rgb(126, 121, 121);
}

.lastDiv {
    padding-bottom: 2%;
    

}

footer{
    position: relative;
    background-color: rgb(71, 71, 71);
    height: 100px;
          
}