* {
    box-sizing: border-box;
}
 
header {
    background-color: rgb(71, 71, 71);
    height: 100px;

}
header img {
    margin-left: 100px;
    float: left;
    margin-top: 15px;
}


header nav ul { 
    position: relative;
}

header nav ul li  {
    display: inline-block;
    margin: 40px;
    padding-left: 25px;
    padding-right: 35px;

}

header nav ul li a {
    text-decoration: none;
    color: rgb(133, 133, 133);
    font-weight: bold;
    font-size: 23px;
    
}




 main { 
    position: relative;
 }   



#image960 {
    position: absolute;
    left: 15%;
    margin: 40px;

}

.imagessub1 {
    position: absolute;
    clear: both;
    top: 520px;
    left: 240px;
    

}

.imagessub {
    padding-left: 27px;
}



.Featured {
    position: absolute;
    top: 920px;
    left: 17.5%;

}

.Featured-right {
    position: absolute;
    top: 920px;
    font-size: 25px;    
    font-weight: bolder;
    color: rgb(61, 61, 61);
    left: 50.5%;
}

.paragraph {
    position: absolute;
    top: 950px;
    font-size: 22px;    
    background-color: rgb(105, 105, 105);
    width: 460px;
    height: 312px;
    overflow: auto;
    color: rgb(245, 216, 86);
    left: 50.5%;
    
    
}
    


.call {
    position: absolute;
    top: 1263px;
    font-size: 25px;
    border: solid black 1px;   
    padding: 10px;
    background-color: black;
    color: white;
    padding-left: 20px;
    margin-top: 9px;
    left: 50.5%;
    
}



.call:hover{
    background-color: rgb(126, 121, 121);
}



footer{
    position: absolute;
    background-color: rgb(71, 71, 71);
    height: 100px;
    top: 1450px;
    width: 100%;
          
}